body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: url("path/to/your/image.jpg");
  /* Always set a background-color as a fallback if the image can't be loaded */
  background-color: #ffa89b;
}
body {
  color: white; /* Sets the default text color to black */
}