.site-title,  /* please for the life of you just work*/
header.site-header,
.site-header,
header {
  display: none !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}
header, footer {
  display: none;
}
body {
 background-image: url("https://github.com/FlutterCat555/fluttercat555.github.io/blob/README_TEST/gradientbg.png?raw=true");
 background-color: #cccccc;
}